Data analysis of all the bee keepers around Slovakia

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib as mpl

In [2]:
#get dataframe
df = pd.read_csv("Bees2023.csv", encoding='utf-8')

Parameters of dataset:

In [29]:
num_rows, num_columns = df.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 26248
Number of columns: 5

In [30]:
column_headers = df.columns

print("Column Headers:", column_headers)
df.head()

Column Headers: Index(['Cadastral territory', 'Municipality', 'Region', 'County', 'Amount'], dtype='object')

   Cadastral territory         Municipality   Region   County  Amount
0  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      30
1  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      16
2  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta       5
3  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta       0
4  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      14

Configuration of dataset:

In [31]:
column_headers = df.columns

print("Column Headers:", column_headers)

Column Headers: Index(['Cadastral territory', 'Municipality', 'Region', 'County', 'Amount'], dtype='object')

Create new data frame (df1) with unique values:

In [32]:
df1 = df.drop_duplicates(subset=["Cadastral territory", "Municipality", "Region", "County"])
df1.shape
print(df1)

       Cadastral territory         Municipality   Region   County  Amount
0      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      30
21                Vozokany             Vozokany  GALANTA  Galanta      10
24          Zemianske Sady       Zemianske Sady  GALANTA  Galanta      10
29                 Šoporňa              Šoporňa  GALANTA  Galanta       4
35              Tomášikovo           Tomášikovo  GALANTA  Galanta     100
...                    ...                  ...      ...      ...     ...
26189               Bzovík               Bzovík  KRUPINA   Zvolen       1
26202      Bzovská Lehôtka      Bzovská Lehôtka   ZVOLEN   Zvolen      18
26204               Cerovo               Cerovo  KRUPINA   Zvolen       9
26206    Čabradský Vrbovok    Čabradský Vrbovok  KRUPINA   Zvolen       4
26209              Čekovce              Čekovce  KRUPINA   Zvolen      11

[3377 rows x 5 columns]

In [33]:
#Dropping amounts
df1.drop('Amount', axis=1)

       Cadastral territory         Municipality   Region   County
0      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta
21                Vozokany             Vozokany  GALANTA  Galanta
24          Zemianske Sady       Zemianske Sady  GALANTA  Galanta
29                 Šoporňa              Šoporňa  GALANTA  Galanta
35              Tomášikovo           Tomášikovo  GALANTA  Galanta
...                    ...                  ...      ...      ...
26189               Bzovík               Bzovík  KRUPINA   Zvolen
26202      Bzovská Lehôtka      Bzovská Lehôtka   ZVOLEN   Zvolen
26204               Cerovo               Cerovo  KRUPINA   Zvolen
26206    Čabradský Vrbovok    Čabradský Vrbovok  KRUPINA   Zvolen
26209              Čekovce              Čekovce  KRUPINA   Zvolen

[3377 rows x 4 columns]

Here we count the number of occurences of each row from df1 in df (original data frame)

In [34]:
merged_df = pd.merge(df, df1, on=['Cadastral territory', 'Municipality', 'Region', 'County'])
count_bee_keepers_df = merged_df.groupby(['Cadastral territory', 'Municipality', 'Region', 'County']).size().reset_index(name='Bee keepers')

print("\nCount of occurrences in df:")
print(count_bee_keepers_df)

Count of occurrences in df:
     Cadastral territory Municipality              Region           County  \
0                Abrahám      Abrahám             GALANTA          Galanta
1            Abrahámovce  Abrahámovce            BARDEJOV         Bardejov
2            Abrahámovce  Abrahámovce            KEŽMAROK           Poprad
3               Abramová     Abramová  TURČIANSKE TEPLICE           Martin
4              Abranovce    Abranovce              PREŠOV           Prešov
...                  ...          ...                 ...              ...
3372             Žlkovce      Žlkovce            HLOHOVEC           Trnava
3373              Župkov       Župkov           ŽARNOVICA  Žiar nad Hronom
3374             Župčany      Župčany              PREŠOV           Prešov
3375                 Žíp          Žíp     RIMAVSKÁ SOBOTA  Rimavská Sobota
3376             Žírovce      Herľany       KOŠICE-OKOLIE  Košice - okolie

      Bee keepers
0              14
1               1
2               4
3               1
4               1
...           ...
3372            6
3373           13
3374            8
3375            5
3376            5

[3377 rows x 5 columns]

In [35]:
count_df.drop("Cadastral territory",axis=1)
count_df.drop("Municipality",axis=1)
count_df.drop("Region",axis=1)
count_df.drop("County",axis=1)

     Cadastral territory Municipality              Region  Bee keepers
0                Abrahám      Abrahám             GALANTA           14
1            Abrahámovce  Abrahámovce            BARDEJOV            1
2            Abrahámovce  Abrahámovce            KEŽMAROK            4
3               Abramová     Abramová  TURČIANSKE TEPLICE            1
4              Abranovce    Abranovce              PREŠOV            1
...                  ...          ...                 ...          ...
3372             Žlkovce      Žlkovce            HLOHOVEC            6
3373              Župkov       Župkov           ŽARNOVICA           13
3374             Župčany      Župčany              PREŠOV            8
3375                 Žíp          Žíp     RIMAVSKÁ SOBOTA            5
3376             Žírovce      Herľany       KOŠICE-OKOLIE            5

[3377 rows x 4 columns]