<font color='orange'>Data analysis of all the bee keepers around Slovakia</font>

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#get dataframe
df = pd.read_csv("Bees2023.csv", encoding='utf-8')

<font color='orange'>Parameters of dataset:</font>

In [3]:
num_rows, num_columns = df.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 26248
Number of columns: 5

In [4]:
column_headers = df.columns

print("Column Headers:", column_headers)
df.head()

Column Headers: Index(['Cadastral territory', 'Municipality', 'Region', 'County', 'Amount'], dtype='object')

   Cadastral territory         Municipality   Region   County  Amount
0  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      30
1  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      16
2  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta       5
3  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta       0
4  Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      14

<font color='orange'>Configuration of dataframe:</font>

In [5]:
column_headers = df.columns

print("Column Headers:", column_headers)

Column Headers: Index(['Cadastral territory', 'Municipality', 'Region', 'County', 'Amount'], dtype='object')

<font color='orange'>Create new data frame (df1) with unique values:</font>

In [6]:
df1 = df.drop_duplicates(subset=["Cadastral territory", "Municipality", "Region", "County"])
df1.shape
print(df1)

       Cadastral territory         Municipality   Region   County  Amount
0      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      30
21                Vozokany             Vozokany  GALANTA  Galanta      10
24          Zemianske Sady       Zemianske Sady  GALANTA  Galanta      10
29                 Šoporňa              Šoporňa  GALANTA  Galanta       4
35              Tomášikovo           Tomášikovo  GALANTA  Galanta     100
...                    ...                  ...      ...      ...     ...
26189               Bzovík               Bzovík  KRUPINA   Zvolen       1
26202      Bzovská Lehôtka      Bzovská Lehôtka   ZVOLEN   Zvolen      18
26204               Cerovo               Cerovo  KRUPINA   Zvolen       9
26206    Čabradský Vrbovok    Čabradský Vrbovok  KRUPINA   Zvolen       4
26209              Čekovce              Čekovce  KRUPINA   Zvolen      11

[3377 rows x 5 columns]

In [7]:
#Dropping amounts
df1.drop('Amount', axis=1)

       Cadastral territory         Municipality   Region   County
0      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta
21                Vozokany             Vozokany  GALANTA  Galanta
24          Zemianske Sady       Zemianske Sady  GALANTA  Galanta
29                 Šoporňa              Šoporňa  GALANTA  Galanta
35              Tomášikovo           Tomášikovo  GALANTA  Galanta
...                    ...                  ...      ...      ...
26189               Bzovík               Bzovík  KRUPINA   Zvolen
26202      Bzovská Lehôtka      Bzovská Lehôtka   ZVOLEN   Zvolen
26204               Cerovo               Cerovo  KRUPINA   Zvolen
26206    Čabradský Vrbovok    Čabradský Vrbovok  KRUPINA   Zvolen
26209              Čekovce              Čekovce  KRUPINA   Zvolen

[3377 rows x 4 columns]

<font color='orange'>Calculate number of bee hives per cadastral territory: (Here we count the number of occurences of each row from df1 in df (original data frame))</font>

In [8]:
merged_df = pd.merge(df, df1, on=['Cadastral territory', 'Municipality', 'Region', 'County'])
count_bee_keepers_df = merged_df.groupby(['Cadastral territory', 'Municipality', 'Region', 'County']).size().reset_index(name='Bee keepers')

# Fill NaN values in the 'Sum' column with 0
count_bee_keepers_df['Bee keepers'].fillna(0, inplace=True)

print("\nCount of occurrences in df:")
print(count_bee_keepers_df)

Count of occurrences in df:
     Cadastral territory Municipality              Region           County  \
0                Abrahám      Abrahám             GALANTA          Galanta
1            Abrahámovce  Abrahámovce            BARDEJOV         Bardejov
2            Abrahámovce  Abrahámovce            KEŽMAROK           Poprad
3               Abramová     Abramová  TURČIANSKE TEPLICE           Martin
4              Abranovce    Abranovce              PREŠOV           Prešov
...                  ...          ...                 ...              ...
3372             Žlkovce      Žlkovce            HLOHOVEC           Trnava
3373              Župkov       Župkov           ŽARNOVICA  Žiar nad Hronom
3374             Župčany      Župčany              PREŠOV           Prešov
3375                 Žíp          Žíp     RIMAVSKÁ SOBOTA  Rimavská Sobota
3376             Žírovce      Herľany       KOŠICE-OKOLIE  Košice - okolie

      Bee keepers
0              14
1               1
2               4
3               1
4               1
...           ...
3372            6
3373           13
3374            8
3375            5
3376            5

[3377 rows x 5 columns]

<font color='orange'>FINAL DATA FRAME WITH NUMBER OF BEE KEEPERS PER CADASTRAL TERRITORY</font>

In [9]:
count_bee_keepers_df.head()

  Cadastral territory Municipality              Region    County  Bee keepers
0             Abrahám      Abrahám             GALANTA   Galanta           14
1         Abrahámovce  Abrahámovce            BARDEJOV  Bardejov            1
2         Abrahámovce  Abrahámovce            KEŽMAROK    Poprad            4
3            Abramová     Abramová  TURČIANSKE TEPLICE    Martin            1
4           Abranovce    Abranovce              PREŠOV    Prešov            1

<font color='orange'>Calculate number of bee hives per cadastral territory: (count amount for each instance)</font>

In [10]:
sum_df = df.groupby(['Cadastral territory', 'Municipality', 'Region', 'County'])['Amount'].sum().reset_index(name='Bee hives')

# Merge the sum information back into the DataFrame with unique instances
count_bee_hives_df = pd.merge(df1, sum_df, on=['Cadastral territory', 'Municipality', 'Region', 'County'], how='left')

# Fill NaN values in the 'Bee hives' column with 0
count_bee_hives_df['Bee hives'].fillna(0, inplace=True)

print(count_bee_hives_df)

      Cadastral territory         Municipality   Region   County  Amount  \
0     Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      30
1                Vozokany             Vozokany  GALANTA  Galanta      10
2          Zemianske Sady       Zemianske Sady  GALANTA  Galanta      10
3                 Šoporňa              Šoporňa  GALANTA  Galanta       4
4              Tomášikovo           Tomášikovo  GALANTA  Galanta     100
...                   ...                  ...      ...      ...     ...
3372               Bzovík               Bzovík  KRUPINA   Zvolen       1
3373      Bzovská Lehôtka      Bzovská Lehôtka   ZVOLEN   Zvolen      18
3374               Cerovo               Cerovo  KRUPINA   Zvolen       9
3375    Čabradský Vrbovok    Čabradský Vrbovok  KRUPINA   Zvolen       4
3376              Čekovce              Čekovce  KRUPINA   Zvolen      11

      Bee hives
0           295
1            85
2            61
3           205
4           124
...         ...
3372        143
3373         28
3374         10
3375         39
3376        273

[3377 rows x 6 columns]

<font color='orange'>FINAL DATA FRAME WITH NUMBER OF BEE HIVES PER CADASTRAL TERRITORY:</font>

In [11]:
count_bee_hives_df.drop("Amount",axis=1)

      Cadastral territory         Municipality   Region   County  Bee hives
0     Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta        295
1                Vozokany             Vozokany  GALANTA  Galanta         85
2          Zemianske Sady       Zemianske Sady  GALANTA  Galanta         61
3                 Šoporňa              Šoporňa  GALANTA  Galanta        205
4              Tomášikovo           Tomášikovo  GALANTA  Galanta        124
...                   ...                  ...      ...      ...        ...
3372               Bzovík               Bzovík  KRUPINA   Zvolen        143
3373      Bzovská Lehôtka      Bzovská Lehôtka   ZVOLEN   Zvolen         28
3374               Cerovo               Cerovo  KRUPINA   Zvolen         10
3375    Čabradský Vrbovok    Čabradský Vrbovok  KRUPINA   Zvolen         39
3376              Čekovce              Čekovce  KRUPINA   Zvolen        273

[3377 rows x 5 columns]

<font color='orange'>RESULT DATAFRAME:</font>

In [27]:
#Combine bee keepers and bee hives dfs

result_df = pd.merge(count_bee_keepers_df, count_bee_hives_df, on=['Cadastral territory', 'Municipality', 'Region', 'County'])
result_df = result_df.drop("Amount", axis=1)

print(result_df)

result_df.to_excel('per_cadastral_territory_excel.xlsx', index=False)
result_df.to_csv('per_cadastral_territory_csv.csv', index=False)

     Cadastral territory Municipality              Region           County  \
0                Abrahám      Abrahám             GALANTA          Galanta
1            Abrahámovce  Abrahámovce            BARDEJOV         Bardejov
2            Abrahámovce  Abrahámovce            KEŽMAROK           Poprad
3               Abramová     Abramová  TURČIANSKE TEPLICE           Martin
4              Abranovce    Abranovce              PREŠOV           Prešov
...                  ...          ...                 ...              ...
3372             Žlkovce      Žlkovce            HLOHOVEC           Trnava
3373              Župkov       Župkov           ŽARNOVICA  Žiar nad Hronom
3374             Župčany      Župčany              PREŠOV           Prešov
3375                 Žíp          Žíp     RIMAVSKÁ SOBOTA  Rimavská Sobota
3376             Žírovce      Herľany       KOŠICE-OKOLIE  Košice - okolie

      Bee keepers  Bee hives
0              14        264
1               1          2
2               4         54
3               1          0
4               1         10
...           ...        ...
3372            6         48
3373           13        134
3374            8         73
3375            5        109
3376            5         66

[3377 rows x 6 columns]

<font color='orange'>Create data frame with unique regions:</font>

In [19]:
unique_regions_df = df.drop_duplicates(subset=["Region"])
unique_regions_df.shape

print(unique_regions_df)

          Cadastral territory            Municipality              Region  \
0         Vinohrady nad Váhom     Vinohrady nad Váhom             GALANTA
285         Kráľová nad Váhom       Kráľová nad Váhom                ŠAĽA
402                  Zákopčie                Zákopčie               ČADCA
420                     Závod                   Závod             MALACKY
442            Lopušné Pažite          Lopušné Pažite  KYSUCKÉ NOVÉ MESTO
...                       ...                     ...                 ...
22206                   Zbora                 Dohňany              PÚCHOV
22247           Červený Kameň           Červený Kameň               ILAVA
23744          Vyšné Ružbachy          Vyšné Ružbachy       STARÁ ĽUBOVŇA
25392       Zvolenská Slatina       Zvolenská Slatina              ZVOLEN
25416  Vígľašská Huta-Kalinka  Vígľašská Huta-Kalinka               DETVA

              County  Amount
0            Galanta      30
285             Šaľa       7
402            Čadca       0
420            Čadca       1
442            Čadca       0
...              ...     ...
22206         Púchov       0
22247         Púchov      42
23744  Stará Ľubovňa       0
25392         Zvolen      10
25416         Zvolen       3

[79 rows x 5 columns]

In [21]:
regions_df = pd.DataFrame()
regions_df["Region"] = unique_regions_df["Region"]

print(regions_df)

                   Region
0                 GALANTA
285                  ŠAĽA
402                 ČADCA
420               MALACKY
442    KYSUCKÉ NOVÉ MESTO
...                   ...
22206              PÚCHOV
22247               ILAVA
23744       STARÁ ĽUBOVŇA
25392              ZVOLEN
25416               DETVA

[79 rows x 1 columns]

<font color='orange'>Count amount of bee keepers per region:</font>