Data analysis of all the bee keepers around Slovakia

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib as mpl

In [14]:
#import dataset
dataset = pd.read_csv("Bees2023.csv", encoding='utf-8')

Parameters of dataset:

In [26]:
num_rows, num_columns = dataset.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 26248
Number of columns: 6

In [24]:
column_headers = dataset.columns

print("Column Headers:", column_headers)
dataset.head()

Column Headers: Index(['Cadastral territory', 'Municipality', 'Region', 'County', 'Amount',
       'Unnamed: 5'],
      dtype='object')

,Cadastral territory,Municipality,Region,County,Amount,Unnamed: 5
0,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,30,NaN
1,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,16,NaN
2,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,5,NaN
3,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,0,NaN
4,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,14,NaN

Configuration of dataset:

In [22]:
#Translate columns to English
dataset.rename(columns={'Názov KÚ': 'Cadastral territory'})
dataset.rename(columns={'Obec': 'Municipality'})
dataset.rename(columns={'Okres': 'Region'})
dataset.rename(columns={'KRAJ': 'County'})
dataset.rename(columns={'Počet': 'Amount'})

,Cadastral territory,Municipality,Region,County,Amount,Unnamed: 5
0,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,30,NaN
1,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,16,NaN
2,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,5,NaN
3,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,0,NaN
4,Vinohrady nad Váhom,Vinohrady nad Váhom,GALANTA,Galanta,14,NaN
...,...,...,...,...,...,...
26243,Detva,Detva,DETVA,Zvolen,20,NaN
26244,Detva,Detva,DETVA,Zvolen,2,NaN
26245,Detva,Detva,DETVA,Zvolen,9,NaN
26246,Detva,Detva,DETVA,Zvolen,7,NaN
26247,Detva,Detva,DETVA,Zvolen,1,NaN

In [21]:
column_headers = dataset.columns

print("Column Headers:", column_headers)

Column Headers: Index(['Cadastral territory', 'Municipality', 'Region', 'County', 'Amount',
       'Unnamed: 5'],
      dtype='object')

In [29]:
#Dropping column Unnamed : 5
dataset.drop(columns=['Unnamed: 5'])

       Cadastral territory         Municipality   Region   County  Amount
0      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      30
1      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      16
2      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta       5
3      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta       0
4      Vinohrady nad Váhom  Vinohrady nad Váhom  GALANTA  Galanta      14
...                    ...                  ...      ...      ...     ...
26243                Detva                Detva    DETVA   Zvolen      20
26244                Detva                Detva    DETVA   Zvolen       2
26245                Detva                Detva    DETVA   Zvolen       9
26246                Detva                Detva    DETVA   Zvolen       7
26247                Detva                Detva    DETVA   Zvolen       1

[26248 rows x 5 columns]